<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Groupe MyTestCompany</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body>
<font style="font-size:12px; color:#00000; font-family:Verdana, Arial, Helvetica, sans-serif;">Regards,</font><br />
<font style="font-size:12px; color:#293F54; font-family:Verdana, Arial, Helvetica, sans-serif;"><strong>%name%</strong><br />
<i><font color="#008fc5">%titleUK%</font></i></font><br />
<br />
<table width="420" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="160"  align="left" valign="top"  border="0">
	<a style="font-family:Verdana; font-size:11px;color:#008fc5;" href="mailto:initiales@MyTestCompany.com" target="_blank">%mail%</a><br />
      <font style="font-size:11px; color:#293F54; font-family:Verdana, Arial, Helvetica, sans-serif;">Tel : %pager%<br />
      Mob : %mobile%<br />
      Fax : %fax%</font><br />
      <br />
      <a href="http://www.MyTestCompany.fr/?utm_source=outlook&utm_medium=signature&utm_campaign=signature%2BMyTestCompany" target="_blank"></a><img src="./EN_fichiers/Logo_Groupe_MyTestCompany.gif" width="87" height="59" border="0" alt="Groupe MyTestCompany" title="Groupe MyTestCompany" /></a><br />
      <a href="http://www.MyTestCompany.fr/?utm_source=outlook&amp;utm_medium=signature&amp;utm_campaign=signature_fr" target="_blank" style="color:#008fc5; font-weight:bold; font-family:Verdana; font-size:10px;">www.MyTestCompany.com</a></strong><br />
      <br />
  
  <a href="https://twitter.com/MyTestCompany_Group" target="_blank"><img src="./EN_fichiers/twitter.jpg" width="25" height="31" title="Twitter" border="0"/></a><a href=" http://www.linkedin.com/company/MyTestCompany?trk=hb_tab_compy_id_118445" target="_blank"><img src="./EN_fichiers/linkedin.jpg" width="29" title="Linkedin" height="31" border="0" /></a><a href=" http://www.youtube.com/user/MyTestCompanyGROUP" target="_blank"><img src="./EN_fichiers/youtube.jpg" width="27" height="31" title="YouTube" border="0"/></a><a href="http://www.MyTestCompany.fr/newsletters/?utm_source=outlook&amp;utm_medium=signature&amp;utm_campaign=signature_fr" target="_blank"><img src="./EN_fichiers/newsletters.jpg" width="26" height="31" title="Newsletters" border="0" /></a></td>
    <td width="260"  align="left" valign="BOTTOM"  border="0">
      
  </tr>
  
  <tr>
    <td colspan="2" valign="middle" border="0" style="padding-top:10px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="132" style=" BORDER-TOP: #127BB4 1px solid; padding-top:5px"><font style="font-size:10px; color:#008fc5; font-family:Verdana, Arial, Helvetica, sans-serif;"><br />
          %office% <br />

        
       
         
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
