<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Groupe MyTestCompany</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body>
<font style="font-size:12px; color:#00000; font-family:Verdana, Arial, Helvetica, sans-serif;">Regards,</font><br />
<font style="font-size:12px; color:#293F54; font-family:Verdana, Arial, Helvetica, sans-serif;"><strong>%name%</strong><br />
<i><font color="#008fc5">%titleUK%</font></i><BR />
</font><font style="font-size:11px; color:#293F54; font-family:Verdana, Arial, Helvetica, sans-serif;"><BR />
</font><a href="http://www.MyTestCompany.fr/?utm_source=outlook&amp;utm_medium=signature&amp;utm_campaign=signature_fr" target="_blank"><img src="./EN_fichiers/Logo_Groupe_MyTestCompany.gif" width="87" height="59" border="0" alt="Groupe MyTestCompany" title="Groupe MyTestCompany" /></a><br />
<a href="http://www.MyTestCompany.fr/?utm_source=outlook&amp;utm_medium=signature&amp;utm_campaign=signature_fr" target="_blank" style="color:#127BB4; font-weight:bold; font-family:Verdana; font-size:10px;">www.MyTestCompany.com</a><br />

<a href="https://twitter.com/MyTestCompany_Group" target="_blank"><img src="./EN_fichiers/twitter.jpg" width="25" height="31" title="Twitter" border="0"/></a><a href=" http://www.linkedin.com/company/MyTestCompany?trk=hb_tab_compy_id_118445" target="_blank"><img src="./EN_fichiers/linkedin.jpg" width="28" title="Linkedin" height="31" border="0" /></a><a href=" http://www.youtube.com/user/MyTestCompanyGROUP" target="_blank"><img src="./EN_fichiers/youtube.jpg" width="27" height="31" title="You Tube" border="0"/></a><a href="http://www.MyTestCompany.fr/newsletters/?utm_source=outlook&utm_medium=signature&utm_campaign=signature_fr" target="_blank"><img src="./EN_fichiers/newsletters.jpg" width="27" height="31" title="Newsletters" border="0" /></a>
<br />
<a style="font-family:Verdana; font-size:11px;color:#008fc5;" href="mailto:initiales@MyTestCompany.com" target="_blank">%mail%</a><a style="font-family:Verdana; font-size:11px;color:#127BB4;" href="mailto:initiales@MyTestCompany.com" target="_blank"></a><br />
<font style="font-size:11px; color:#293F54; font-family:Verdana, Arial, Helvetica, sans-serif;">Tel : %pager%<br />
Mob : %mobile%<br />
Fax : %fax%</font>
</body>
</html>
